/*
Theme Name:     Lunar
Description:    A child theme for P2. A fork of Apollo from Human Made
Author:         Red Panda Ventures
Author URI: 	http://redpandaventures.com/
Template:       p2
Version:        1.0.0
Tags: 			custom-colors, two-columns, fixed-width, rtl-language-support, right-sidebar, white, light, front-page-post-form, translation-ready, custom-background, custom-header, custom-menu, post-formats, sticky-post, theme-options


Lunar WordPress Theme, Copyright 2019 RedPanda Ventures Limited
Lunar is distributed under the terms of the GNU GPL

Lunar makes use of the following resources:
* FontAwesome Icon font. License: SIL Open Font License (OFL) - http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL
